.main {
    width: 100%;
   
    margin: 20px auto 0px;
    /* border: 1px solid #eee; */
    /* box-shadow: 0 2px 3px #ccc; */
    text-align: left;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     /* position: absolute;  */
    background: url("../../Images/Capture1.png");
    background-size: cover;
    /* padding-bottom: 30px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 72px)

    
}

.main label {
    display: block;
    margin: 10px auto;
    text-align: left;
    font-weight: lighter;
    font-size: 16px;
}

.Filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Apply {
    display: flex;
    justify-content: center;
}
.container {
    /* flex: 1; */
    padding: 18px;
    padding-top: 35px;
    background-color: '#ffffff';
}


.HeadStyle {
    height: 50px;
    align-content: "center";
    background-color: '#ffe0f0';
}

.TableText {
    margin: 10;
}

.records {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    /* position: relative; */
}

.records td,
.records th {
    border: 1px solid #ddd;
    padding: 8px;
    /* position: relative; */
}

/* .records tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.records tr:hover {
    background-color: #ddd;
}

.records th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    position: relative;
}
.records input {
    width: 60%;
}
.red {
    background: red;
}

.Filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-end: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    align-items: center;
}
.image {
    width: 50vw;
    height: 50vh;
}
.Dropdown{
    background-color:#64b5f6;
    border-radius: 3px;
    cursor: pointer;
    /* margin-top: 92px; */
}
 .button_scan {

    background-color:#64b5f6;
    border-radius: 3px;
} 

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 3px;
  border: 1px solid black;
  opacity: 1;
  background-color: rosybrown;
}
.element {
    position: relative;
}
.element:hover .tooltip {
  display: block;
  /* position: relative; */
  /* max-width: 50%;
  opacity: 1; */

}
.free{
    background-color: tan;
}
/* .input {
    width: 30%;
} */

.button{
  color: black;
  margin-top: 20px;
  background-color: #42a5f5;
  border-radius: 2px;
}

  
  .file_upload {
    background-color: #ffffff;
    width: 600px;
    
    
   
  }
  
  .file_upload_btn {
    width: 50%;
    margin: 0;
    color: #fff;
    background:#42a5f5 ;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #42a5f5;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file_upload_btn:hover {
    background: #42a5f5;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
    
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image_upload_wrap {
    margin-top: 20px;
    border: 4px dashed #42a5f5;
    position: relative;
    height: 550px;
  }
  
  
  .image_upload_wrap:hover {
    background-color: #42a5f5;
    border: 4px dashed #ffffff;
  }
  
 
  
  .drag_text {
    text-align: center;
  }
  
  .drag_text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #42a5f5;
    padding: 60px 0;
  }
  
  .file_upload_image {
    max-height: 530px;
    max-width: 100%;
    margin-top: 5px;
    padding: 5px;
  }
  
 
  

  .previewStyle {
    border: 2px solid rgb(88, 109, 230);
    display: inline;
    flex-direction: row;
    width: 100px;
    height: 100px;
    /* justify-content: space-evenly; */
  }